<div class="container" [class.is-mobile]="mobileQuery.matches" [dir]="translateService.currentLang === 'he' ? 'rtl' : 'ltr'">
  <mat-toolbar color="primary" class="main-toolbar">
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span translate>brandTitle</span>
    <span class="spacer"></span>
    <mat-select class="languages" [value]="translateService.currentLang">
      <mat-option value="he" (click)="translateService.use('he')">עברית</mat-option>
      <mat-option value="en" (click)="translateService.use('en')">English</mat-option>
    </mat-select>
  </mat-toolbar>
  <mat-sidenav-container class="main-side-nav-container">
    <mat-sidenav #drawer mode="over" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <mat-list-item routerLink="calendar">
          <button mat-icon-button>
            <mat-icon>today</mat-icon>
          </button>
          <a matLine translate>calendar</a>
        </mat-list-item>
        <mat-list-item routerLink="recipes-ingredients">
          <button mat-icon-button>
            <mat-icon>folder_open</mat-icon>
          </button>
          <a matLine translate>recipesAndIngredients</a>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
