<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()" [dir]="translateService.currentLang === 'he' ? 'rtl' : 'ltr'">
  <div>
    <mat-form-field>
      <input matInput required [placeholder]="'Name' | translate" id="name" type="text" formControlName="name">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input matInput required [placeholder]="'Price' | translate" id="price" type="number" formControlName="price">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input matInput required [placeholder]="'weightInPurchase' | translate" id="weight" type="number" formControlName="weight">
    </mat-form-field>

  </div>

  <div class="buttons">
    <button class="button" [disabled]="isDisabled()" mat-flat-button color="primary" type="submit">{{ 'Complete' | translate }}</button>
    <button class="button" [disabled]="isDisabled()" (click)="addOther = true" mat-flat-button color="primary" type="submit">{{ 'CompleteAndAddOther' | translate }}</button>
  </div>
</form>
