.container {
  display: grid;
  place-self: center;
  grid-template-areas: '. . . . .' '. title title title .' '. search . add .' '. table table table .';
  grid-template-rows: 30px auto auto 1fr;
  grid-template-columns: 0.1fr auto 1fr auto 0.1fr;
  height: 100%;

  h1 {
    grid-area: title;
  }

  mat-form-field {
    grid-area: search;
  }

  .add-ingredient {
    grid-area: add;
    align-self: center;
  }

  table {
    grid-area: table;

    .mat-cell {
      width: 1fr;

      &.actions-cell {
        width: 80px;
      }
    }
  }
}
